<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-9">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.0">
	<title>Cobby || <%= title %>  </title>
</head>

<body>
<%- include('./partials/nav.ejs') %>
	
<p>cobby is a simple</p>
<p>he is a boy</p>

<p>he likes going to school</p>
<div class="blog-content">
	
	<% if (blogs.length > 0){ %>
		<% blogs.forEach(blog =>{%>
			<h3 class="title"><%= blog.title %></h3>
			<p class= 'snippet'><%= blog.snippet %></p>
		 <% })%><%} else { %>
		  {
			 <p>There are no blogs here </p>
		<% }%>


	
</div>	
</body>
</html>